*-6x.tiff
*.vpk
*.vphys_c
*.vmdl_c
*.vanim_c
*.vmat_c
*.vmesh_c
*.vmorf_c
*.vsnd_c
*.vpcf_c
*.vseq_c
*.vsndevts_c
*.vtex_c
*.vxml_c
*.mp3
*.los
*.ain
*.vagrp_c
demoheader.tmp
tools_asset_info.bin
tools_thumbnail_cache.bin
**/_bakeresourcecache
**/_vrad3
steamtours/thelab_*/content/materials/models/thelab/*.png
steamtours/thelab_*/content/models/thelab/*.dmx
steamtours/asset_packs/scripts/source1import-0.3.12
steamtours/asset_packs/scripts/no_vtf-4.2.0