*-6x.tiff
*.vpk
*.vphys_c
*.vmdl_c
*.vanim_c
*.vmat_c
*.vmesh_c
*.vmorf_c
*.vsnd_c
*.vpcf_c
*.vseq_c
*.vsnap_C
*.vcss_c
*.vsndevts_c
*.vtex_c
*.vxml_c
*.vrman_c
*.mp3
*.wav
*.los
*.ain
*.vagrp_c
*.mdl
*.vvd
*.vtx
demoheader.tmp
tools_asset_info.bin
tools_thumbnail_cache.bin
**/_bakeresourcecache
**/_vrad3
steamtours/thelab_*/content/materials/models/thelab/*.png
steamtours/thelab_*/content/models/thelab/*.dmx
steamtours/asset_packs/scripts/source1import-0.3.12
steamtours/*/game/scripts/vscripts/animation
*.png
*.jpg
*.psd
*.tiff
*.exr
!steamtours/*/content/materials/*.png
!steamtours/*/content/materials/*.jpg
!steamtours/*/content/materials/*.psd
!steamtours/*/content/materials/*.tiff
!steamtours/*/content[0-9]/materials/*.png
!steamtours/*/content[0-9]/materials/*.jpg
!steamtours/*/content[0-9]/materials/*.psd
!steamtours/*/content[0-9]/materials/*.tiff
steamtours/byteframe11-Jaded_Jail/content/maps/original_byteframe11.vmap
steamtours/sourcesdk_content.zip
steamtours/asset_packs/scripts/no_vtf-5.1.1/
steamtours/asset_packs/scripts/cli-windows-x64/
steamtours/TODO.md
steamtours/byteframe14-Debaucherous_Dorm/content/materials/
steamtours/byteframe14-Debaucherous_Dorm/content/models/*
!steamtours/byteframe14-Debaucherous_Dorm/content/models/*.*